<% layout('layouts/boilerplate') %>

<div>
  <h1><%= recipe.title %></h1>
  <div>
    <h2>Ingredients</h2>
    <ul>
      <% for(let ingredient of recipe.ingredients) {%>
      <li><%= ingredient %></li>
      <% } %>
    </ul>
    <a
      class="card-link btn btn-primary mb-3"
      href="/groceries/<%= recipe._id %>"
      >Add to Grocery List</a
    >
  </div>
  <div>
    <h2>Instructions</h2>
    <p><%= recipe.instructions %></p>
  </div>

  <div>
    <a class="card-link btn btn-info" href="/recipes/<%= recipe._id %>/edit"
      >Edit</a
    >

    <form
      class="d-inline"
      action="/recipes/<%= recipe._id %>?_method=DELETE"
      method="POST"
    >
      <button class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>
